{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}
{% load static %}

{% block content %} 
<div class="content ml-5 pl-5 mx-auto" style="width: 70%;">

    <h2 class="text-start ml-5 mt-4">LATEST POSTS</h2>
    <span class="d-block mx-auto" style="border-bottom: 1px solid black; width: 100%;"></span>
    <div class="card">
        <img src="{% static 'photos/example1.jpg' %}" style="height: 500px; width: 1200px;" class="text-center mt-2 ml-5 mb-2">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-center">
                <div class="flex-sm-fill ml-4">
                    
                    <span style="color: red;" class="big_red_date">DAY/MON</span>
                    <span class="comments_caption" style="font-size:28px; margin-left: 5px;">X COMMENTS</span>
                    <p>?tags?</p>

                
                </div>
                <div class="flex-xxl-fill ml-5">
                    <p>Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description, 
                        Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description,
                         Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description,
                          Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description,
                           Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description,
                            Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description,
                             Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description,
                              Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description, 
                              Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description, 
                              Fragment of description, Fragment of description, Fragment of description, Fragment of description, Fragment of description, </p>
                </div>
            </div>
        </div>
    </div>   
</div>


{% endblock %}