{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% load crispy_forms_tags %}

{% block content%}
<h1 class="text-center mt-3">Register</h1>
<span class="d-block mx-auto mb-2" style="border-bottom: 1px solid black; width: 100%;"></span>

<div class="register form mt-5 ml-3 ">
    <form method="post" action="/register/" class="mt-5 mb-5 ">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Register</button>
    </form> 
</div>

{% endblock %}