{% extends 'base.html' %}

{% block name %} Login {% endblock %}
{% load crispy_forms_tags %}
{% block content %} 


<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="w-100" style="max-width: 300px;">
        <h1 class="text-center mt-3">Login</h1>
        <span class="d-block mx-auto mb-2" style="border-bottom: 1px solid black; width: 100%;"></span>
        <form method="post" class="form-group mt-4">

            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-success w-100">Login</button>
            <p class="text-center mt-3">Don't have an account? Create one <a href="/register">Here</a></p>
        </form>
    </div>
</div>

{% endblock %}